In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('movies_data.csv')

In [3]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [4]:
import nltk

In [5]:
from nltk.stem.porter import PorterStemmer

In [6]:
ps=PorterStemmer()

In [12]:
def stram(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        string=' '.join(y)
    return string

In [16]:
df['tags']=df.tags.apply(stram)

In [17]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [18]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
cv=CountVectorizer(max_features=5000,stop_words='english')

In [22]:
vectors=cv.fit_transform(df['tags']).toarray()

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
simlarity=cosine_similarity(vectors)

In [30]:
simlarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [50]:
movies_list=sorted(list(enumerate(simlarity[0])),reverse=True,key=lambda x:x[1])[1:6]

In [55]:
movies_list[0]

(1216, 0.2867696673382022)

In [83]:
def recommend(movie):
    movie_index=df[df['title']==movie].index[0]
    distances=simlarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        # print(df.iloc[i[0]].title)
        print(i[0])

In [84]:
recommend('Batman Begins')

65
1363
1362
3
3297

In [64]:
df.iloc[4513].title

'Juliet and Alfa Romeo'

In [72]:
import pickle

In [73]:
pickle.dump(df,open('movies.pkl','wb'))

In [75]:
pickle.dump(simlarity,open('simlarity.pkl','wb'))